body {
    color: #ffffff;
    margin: 0;
}

h1 {
    line-height: 4rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8), 3px 3px rgba(197, 223, 248, 0.8), 4px 4px rgba(197, 223, 248, 0.8), 5px 5px rgba(197, 223, 248, 0.8);
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.up_content {
    width: 90%;
    margin-left: 5%;
}

ul.item_ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

ul.item_ul li {
    margin: 0 5px;
    line-height: 40px;
    width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.show_name_ul li {
    line-height: 40px;
}

li {
    list-style: none;
}

.show_name {
    color: #ffffff;
    position: absolute;
    left: 2%;
    top: 8%;
}

@media only screen and (max-width: 768px) {
    .up_content {
        width: 100%;
        margin: 0;
    }

    li {
        width: 50%;
        margin: 0;
    }
}