body {
    background: #000000;
    margin: 0;
    padding: 0;
}

.count_down_text {
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
}

.count_box {
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    height: 16rem;
    top: 50%;
    margin-top: -8rem;
}

.count_box h1 {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 0 2%;
    display: table-cell;
    font-size: 12rem;
    margin: 0;
    text-align: center;
    /*width: 240px;*/
    transition: all 2s;
    text-shadow: 1px 1px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8), 3px 3px rgba(197, 223, 248, 0.8), 4px 4px rgba(197, 223, 248, 0.8), 5px 5px rgba(197, 223, 248, 0.8);
}

.seconds.active {
    animation: 1s seconds_move linear infinite;
}

@keyframes seconds_move {
    0% {
        transform: scale(0.3);
    }
    50% {
        transform: scale(0.6);
    }
    100% {
        transform: scale(1.2);
    }
}

h2 {
    font-size: 10rem;
    text-shadow: -1px -1px rgba(197, 223, 248, 0.8), -2px -2px rgba(197, 223, 248, 0.8), -3px -3px rgba(197, 223, 248, 0.8), -4px -4px rgba(197, 223, 248, 0.8), -5px -5px rgba(197, 223, 248, 0.8);
}

h2.active {
    transition: all 5s;
    animation: 5s h2_move linear infinite;
}

@keyframes h2_move {
    0% {
        color: #ffffff;
        transform: rotateX(0deg);
        /*transform: rotate(0deg);*/
        /*transform: scale(0.3);*/
    }
    30% {
        color: #d9ffd6;
        transform: rotateX(180deg);
        /*transform: rotate(45deg);*/
        /*transform: scale(0.6);*/
    }
    60% {
        color: #ffe0d3;
        transform: rotateX(360deg);
        /*transform: rotate(90deg);*/
        /*transform: scale(1);*/
    }
    90% {
        color: #c9d1ff;
        transform: rotateX(180deg);
        /*transform: rotate(180deg);*/
        /*transform: scale(0.6);*/
    }
    100% {
        color: #ffffff;
        transform: rotateX(0deg);
        /*transform: rotate(360deg);*/
        /*transform: scale(0.3);*/
    }
}

/*动画*/
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.particule {
    position: absolute;
}

#three-container {
    display: none;
}

@media screen and (max-width: 768px) {
    .count_box {
        display: block;
        height: unset;
        top: 35%;
    }

    .count_box h1 {
        display: block;
        font-size: 6rem;
    }

    @keyframes seconds_move {
        0% {
            transform: scale(0.3);
        }
        50% {
            transform: scale(0.6);
        }
        100% {
            transform: scale(1);
        }
    }
}