.leftNewsTitle.activeNews, .leftNewsTitle:hover {
    background: #021f4e;
    color: #fff;
}

.newsInfo_nav {
    max-height: 20rem;
    overflow: auto;
    background: #eeeeee;
}

.leftNewsTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    padding: 3%;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    border-bottom: 1px dashed #9e9e9e;
}

h1.title {
    font-size: 32px;
}

.contentInfo_text {
    font-size: 15px;
    line-height: 1.6;
}

.newsInfo_content {
    overflow-x: auto;
}

.contentInfo_time {
    color: #4f6d8c;
}

.newsInfo_row {
    border-top: 1px solid #eeeeee;
    padding-top: 2%;
}

.accountNone {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .leftNewsTitle {
        padding: 2%;
    }
}