.phone_text_left {
    text-align: left;
}

.account_num_first {
    display: block;
    padding: 3%;
    height: 9rem;
}

.account_num_first p {
    margin: 0;
    text-align: left;
}

.help_img_box {
    left: 0;
}

/*qr*/
#inviteImg {
    width: 100%;
    height: 100%;
}









