@border_color: #eeeeee;
@border: 1px solid @border_color;
@default_even_px: 2px;
@default_odd_px: 3px;
@font_weight_bold: bold;
@font_weight_400: 400;
@width_100: 100%;
.navbar-default {
  z-index: 1 !important;
}

.width_100 {
  width: @width_100;
}

.font_weight_400 {
  font-weight: @font_weight_400;
}

.group_title_box {
  border-bottom: @border;
}

.group_title {
  font-weight: @font_weight_bold;
  font-family: monospace;
  font-size: @default_even_px * 13;
}

.group_person_num {
  border-bottom: @border;
}

.group_person_num p {
  font-size: 16px;
}

.group_person_num li {
  &:extend(.font_weight_400);
  text-align: center;
  color: #ffffff;
  background: red;
  width: 160px;
  height: 60px;
  padding-top: 5px;
  border-radius: 10px;
}

.group_person_num li:first-child {
  background: #e91e63;
}

.group_person_num li:nth-child(2) {
  background: #10cada;
}

.group_person_num li:nth-child(3) {
  background: #3949ab;
}

.group_person_num li:nth-child(4) {
  background: #33ca51;
  padding: unset;
}

.group_person_num li h4 {
  font-weight: bold;
  transition: all .5s;
  margin: 0;
}

.group_person_num li:hover h4 {
  color: black;
  cursor: pointer;
}

.honor_num {
  &:extend(.font_weight_400);
  font-size: 14px;
}

.progress {
  width: 30%;
  margin: 0 5px;
}

.level p {
  font-size: 14px;
  &:extend(.font_weight_400);
}

.lord_box {
  border-bottom: @border;
}

.lord_box p {
  font-size: 14px;
  &:extend(.font_weight_400);
}

.group_type {
  color: #9e9e9e;
}

.qr_box_img {
  width: 150px;
  height: 150px;

  img {
    &:extend(.width_100);
  }
}

.applicationAdd {
  font-size: 16px;
  &:extend(.font_weight_400);
}

.group_introduction {
  line-height: @default_even_px * 13;
}

.padding_bottom_20 {
  padding-bottom: @default_even_px *10;
}

.padding_top_bottom_20 {
  padding: @default_even_px *10 0;
}

.margin_bottom_20 {
  margin-bottom: @default_even_px *10;
}

.margin_top_bottom_20 {
  margin: @default_even_px *10 0;
}

.look_chat_recode {
  line-height: @default_even_px *30;
  cursor: pointer;
}

.none {
  display: none !important;
}

.footer_text {
  padding: 30px 0;
}

.bind_count_box {
  cursor: pointer;
}

//===============================
/*iframe*/
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  /* display: none; */
  left: 0;
  top: 0;
  background: #000000;
  z-index: -1;
}

.glory_box {
  position: absolute;
  width: 100%;
  height: 100%;
  /*text-align: center;*/
}

.btn_box {
  padding-top: 2%;
  text-align: center;
}

button {
  background: transparent;
  color: #fff;
  /*padding: 1% 5%;*/
  cursor: pointer;
  outline: none;
}

button[disabled] {
  border: 1px solid #9e9e9e;
  background: transparent;
  color: #9e9e9e;
}

button[disabled]:hover {
  border: 1px solid #9e9e9e;
  background: transparent;
  color: #9e9e9e;
  box-shadow: unset;
  cursor: unset;
}

button:hover {
  background: #ffffff;
  color: #000000;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3);
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.message_icon {
  cursor: pointer;
}

.zan_icon, .cai_icon {
  cursor: pointer;
  font-size: 2rem;
}

.zan_num, .cai_num {
  font-size: 1rem;
}

.none {
  display: none;
}

li.none {
  display: none !important;
}

.index_search_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select_box {
  float: left;
}

.table-responsive {
  border: unset;
}

.table > thead > tr > th {
  border-bottom: unset;
}

#title {
  background: transparent;
  font-size: 1rem;
  outline: none;
  color: #ffffff;
}

#title option {
  background: black;
}

.look_chat_recode_btn {
  color: #9e9e9e;
  font-size: 14px;
}

.look_chat_recode_btn:hover {
  color: #ffffff;
}

.search_input {
  background: transparent;
  outline: none;
  border: 1px solid #9e9e9e;
  box-shadow: none;
  height: 2.5rem;
  border-radius: 2rem;
  width: 20%;
  caret-color: #ffffff;
  padding: 10px;
  color: #ffffff;
}

.icon_grade {
  font-size: 2.5rem;
  vertical-align: middle;
}

/*customize-modal*/
#customize_modal {
  position: fixed;
  top: 35%;
  left: 25%;
  width: 50%;
  z-index: 999;
  color: #000000;
  display: none;
}

.customize_modal_mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.customize_modal_content_head h3 {
  border-bottom: 1px solid #eeeeee;
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

.customize_modal_content {
  background: #ffffff;
  padding: 5%;
  border-radius: 10px;
}

.customize_modal_content_body {
  margin-top: 5%;
}

.customize_modal_content_body p {
  margin: 0;
  font-size: 12px;
  color: #9e9e9e;
}

.customize_modal_content_body input {
  height: 3rem;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  outline: none;
}

.customize_modal_content_body input:focus {
  border: 2px solid #00c566;
}

.customize_modal_content_footer {
  margin-top: 5%;
}

.customize_modal_content_footer button {
  width: 49%;
  height: 2.5rem;
  color: #ffffff;
  border: unset;
}

.customize_modal_content_footer .customize_modal_cancel_btn {
  background: #c50505;
}

.customize_modal_content_footer .customize_modal_cancel_btn:hover {
  background: #ad0404;
}

.customize_modal_content_footer .customize_modal_confirm_btn {
  background: #18c16f;
}

.customize_modal_content_footer .customize_modal_confirm_btn:hover {
  background: #13a35d;
}

.customize_modal_content_body .black {
  color: #000000;
}

.nick_name_search_icon {
  position: relative;
  text-align: right;
  width: 100%;
}

.nick_name_search {
  font-size: 2rem;
  position: absolute;
  right: 1%;
  top: 10%;
}

.title_h1 {
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 0px 15px;
  }

  .nav_left a {
    width: 70%;
    display: flex;
    display: -moz-flex;
    display: -o-flex;
    align-items: center;
  }

  .nav_left img {
    width: 100%;
  }

  #customize_modal {
    width: 98%;
    left: 1%;
  }

  .btn_box {
    padding: 5%;
  }

  .zan_icon, .cai_icon {
    font-size: 2rem;
  }

  .table_top {
    padding-left: 15px;
  }

  .search_input {
    width: 100%;
  }

  .nick_name_search {
    font-size: 2rem;
    top: 25%;
    left: 90%;
    position: absolute;
  }

  .index_search_box {
    display: block;
  }

  .nick_name_search_icon {
    position: unset;
    width: 100%;
  }

  .close_page:hover {
    cursor: pointer;
  }

  .message_icon {
    font-size: 2rem;
  }

  .weChatName {
    text-align: left;
  }

  #title {
    width: 80%;
  }

  #title, .search_input {
    height: 3.5rem;
  }

  .select_box {
    text-align: left;
    width: 100%;
    margin-bottom: 5%;
  }

  .title_h1 {
    font-size: 2rem;
    display: inline-block;
    width: 100%;
    margin-top: 3%;
  }

  .title_pm {
    display: inline-block;
    width: 40%;
  }

  .navbar-header {
    display: flex;
    align-items: center;
  }

  .phone_show {
    display: block !important;
    width: 100%;
  }

  .phone_none {
    display: none !important;
  }

  .progress {
    width: 60%;
  }
}

/*page*/
.ui-pagination-container {
  text-align: right;
  border-top: 1px solid #999999;
  padding-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}

.ui-pagination-page-item {
  display: inline-block;
  border: unset !important;
  width: 3rem;
  height: 3rem;
  padding: 0 !important;
  line-height: 3rem;
  text-align: center;
}

p {
  margin: 0;
}

.table_top {
  padding-right: 15px;
  padding-left: 15px;
}

.top .pm_icon {
  font-size: 3rem;
}

.top .top_start, .top .top_mid, .top .top_end {
  font-size: 2.5rem;
}

.top .top_start {
  margin-left: 0.5%;
}

.to_domain {
  color: #ffffff;
}

.to_domain:hover {
  color: #ffffff;
}

.footer_text {
  padding: 30px 0;
}

//==================================
body {
  margin: 0;
}

.chat_content {
  padding-top: 82px;
  background: #f2f2f2;
  padding-bottom: 5%;
  min-height: 100%;
}

.chat_item_ul {
  padding: 0;
  margin: 0;
  height: 100%;
}

.chat_title_box {
  background: #f2f2f2;
  border-bottom: 1px solid #dadada;
  color: #000000;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.chat_title_box h1 {
  margin: 0;
  font-size: 2rem;
}

.chat_item_name {
  background: #314c98;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 3rem;
  position: relative;
  color: #ffffff;
}

p.chat_item_name:after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background: #ffffff;
  right: -22%;
  top: 66%;
  transform: rotate(45deg);
}

.name {
  font-size: 12px;
  color: #9e9e9e;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chat_item {
  display: flex;
  align-items: flex-start;
  padding: 0 10px;
  margin-bottom: 5%;
}

.chat_item_content_box {
  padding-left: 0.5%;
  max-width: 80%;
  /*max-width: 14rem;*/
}

.chat_item_content {
  background: #ffffff;
  display: inline-block;
  line-height: 2rem;
  max-width: 100%;
  border-right: 5px;
  padding: 10px 10px 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  overflow: auto;
  color: #000000;
  text-align: justify;
}

.chat_item_content img, .chat_item_content video {
  width: 100%;
}

.chat_search_box .chat_search_input {
  border: unset;
  background: transparent;
  border-bottom: 2px solid #000000;
  width: 50%;
  outline: unset;
  height: 3.5rem;
  padding: 5px;
  caret-color: #000000;
  color: #000000;
  font-size: 1.6rem;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

.chat_search_box .chat_search_btn {
  width: 5rem;
  height: 4rem;
  border-radius: 5px;
  background: transparent;
  /*color: #ffffff;*/
  color: #000000;
  outline: unset;
  cursor: pointer;
  line-height: 4rem;
}

.none {
  display: none;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.chat_search_icon {
  font-size: 2rem;
  cursor: pointer;
}

.close_page_box:hover {
  cursor: pointer;
}

.none_weChat {
  text-align: center;
  padding: 1%;
  color: #9e9e9e;
  font-size: 0.8rem;
  display: block;
}

.title_search_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title_search_box h1 {
  /*width: 50%;*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.zan_icon, .cai_icon {
  cursor: pointer;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {

  .chat_search_box .chat_search_input {
    width: 75%;
    font-size: 0.8rem;
    height: 3rem;
    border-radius: 0;
    border-bottom-width: 1px;
    color: #000000;
  }

  .chat_search_box .chat_search_btn {
    width: 4rem;
    height: 3rem;
    line-height: 3rem;
  }

  .chat_title_box {
    height: 5rem;
    line-height: 5rem;
  }

  .chat_title_box h1 {
    font-size: 1.5rem;
    font-weight: 400;
    /*line-height: 81px;*/
  }

  p.chat_item_name:after {
    right: -20%;
    top: 66%;
  }

  .chat_item_content_box {
    padding-left: 1.5%;
  }

  .none_weChat {
    padding: 5%;
  }

  .navbar-header {
    float: left;
  }

  .navbar-right {
    float: right;
    display: flex;
    align-items: center;
    margin: 0;
  }
}

#chat_box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
}

//=============================
.bind_num_box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 5%;
  z-index: 1;
  color: #333;
  background: rgba(0, 0, 0, 0.8);

  .bind_list_ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;

    li {
      margin: 0 10px;
      display: flex;
      align-items: center;
      line-height: 40px;

      .wechat {
        margin-left: 5px;
      }
    }
  }
}