body, html {
    background: #eeeeee;
    overflow: auto;
}

#chat_recode .row:first-child {
    background: #000000;
    text-align: center;
    color: #ffffff;
}

#chat_recode h1 {
    font-weight: 400;
    font-size: 2rem;
}

.none_weChat {
    color: #9e9e9e;
    font-size: 1rem;
    padding: 1% 0;
}

.photo {
    width: 3rem;
    height: 3rem;
    background: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: relative;
}

.photo:after {
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background: #ffffff;
    transform: rotate(45deg);
    left: 113%;
    top: 53%;
}

#chat_item_ul li {
    margin-bottom: 5%;
    max-width: 80%;
    display: flex;
}

.content_name_box {
    width: 100%;
    margin-left: 1%;
    z-index: 100;
}

.content_name_box .name {
    font-size: 14px;
    color: #9e9e9e;
}

.chat_recode_content {
    background: #ffffff;
    border-radius: 5px;
    width: 100%;
    padding: 1%;
}
.chat_recode_content img{
    width: 100%;
}