#chat_recode h1 {
    font-size: 1.5rem;
    line-height: 3rem;
}

.chat_recode_content {
    font-size: 14px;
    padding: 2% 2% 2% 3%;
    overflow-x: auto;
}

.none_weChat {
    font-size: 0.5rem;
    padding: 5% 0;
}

#chat_item_ul li {
    max-width: 90%;
}

.content_name_box {
    margin-left: 3%;
}