/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 450px;
    height: 100vh;
    margin: 0;
    background: #000000;
    /*background: -webkit-radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);*/
    /*background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);*/
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.up_title {
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
    border: none;
    outline: none;
    position: absolute;
    top: 10%;
    z-index: 11;
    left: 50%;
    letter-spacing: 8px;
    line-height: 1.5;
    color: #ffffff;
    width: 70%;
    margin-left: -35%;
    text-shadow: 1px 1px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8), 3px 3px rgba(197, 223, 248, 0.8), 4px 4px rgba(197, 223, 248, 0.8), 5px 5px rgba(197, 223, 248, 0.8);
    animation: 1s up_title_color linear infinite;
}

@keyframes up_title_color {

}

/*first_box*/
#first_box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
    /*background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);*/
    z-index: 10;
    /*text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.first_text {
    font-size: 4rem;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 5%;
}

.first_text:hover {
    text-shadow: 1px 1px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8), 3px 3px rgba(197, 223, 248, 0.8), 4px 4px rgba(197, 223, 248, 0.8), 5px 5px rgba(197, 223, 248, 0.8);
    border: 2px solid #ffffff;
    padding: 1% 3%;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(255, 255, 255, 0.4);
}

/*--------------------
Leaderboard
--------------------*/
.leaderboard {
    position: absolute;
    top: 10%;
    left: 2%;
    width: 46%;
    background: -webkit-linear-gradient(top, #3a404d, #181c26);
    background: linear-gradient(to bottom, #3a404d, #181c26);
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
    margin: 1% 0 5% 0;
}

.leaderboard_2 {
    left: unset;
    right: 2%;
}

.leaderboard .title {
    background: #fd7a6e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 10px 18px 18px;
}

.leaderboard h1 {
    font-size: 18px;
    color: #e1e1e1;
    padding: 12px 13px 18px;
    animation: 2s color_move linear infinite;
    transition: all 2s;
}

@keyframes color_move {
    0% {
        color: #ffffff;
        /*transform:scale(0.5);*/
    }
    50% {
        color: #cbff8d;
        /*transform:scale(0.75);*/
    }
    100% {
        color: #70fff2;
        /*transform:scale(1);*/
    }
}

.leaderboard h1 svg {
    width: 25px;
    height: 26px;
    position: relative;
    top: 3px;
    margin-right: 6px;
    vertical-align: baseline;
}

.leaderboard ol {
    counter-reset: leaderboard;
}

.leaderboard ol li {
    position: relative;
    z-index: 1;
    font-size: 14px;
    counter-increment: leaderboard;
    padding: 18px 10px 18px 50px;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaderboard ol li::before {
    content: counter(leaderboard);
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    line-height: 40px;
    color: #c24448;
    background: #fff;
    border-radius: 20px;
    text-align: center;
}

.leaderboard_2 ol {
    /*counter-reset: leaderboard_2 10;*/
}

.leaderboard_2 ol li::before {
    counter-increment: leaderboard_2;
    content: counter(leaderboard_2);
}

.leaderboard ol li div:last-child {
    width: 100%;
    padding-right: 5%;
    text-align: center;
    font-size: 2rem;
}

.leaderboard ol li small {
    /*width: 30%;*/
    text-align: center !important;
}

.leaderboard ol li mark {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 18px 10px 18px 50px;
    margin: 0;
    background: none;
    color: #fff;
}

.leaderboard ol li mark::before, .leaderboard ol li mark::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -11px;
    left: -9px;
    border-top: 10px solid #c24448;
    border-left: 10px solid transparent;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    opacity: 0;
}

.leaderboard ol li mark::after {
    left: auto;
    right: -9px;
    border-left: none;
    border-right: 10px solid transparent;
}

.leaderboard ol li small {
    position: relative;
    z-index: 2;
    display: block;
    text-align: right;
}

.leaderboard ol li::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fa6855;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
}

/*scale*/
.one_five ol li:nth-child(1) div,
.one_five ol li:nth-child(2) div,
.one_five ol li:nth-child(3) div,
.one_five ol li:nth-child(4) div,
.one_five ol li:nth-child(5) div {
    transition: all 1s;
    text-shadow: -1px -1px rgba(53, 63, 76, 0.8), -2px -2px rgba(53, 63, 76, 0.8), -3px -3px rgba(53, 63, 76, 0.8), -4px -4px rgba(53, 63, 76, 0.8), -5px -5px rgba(197, 223, 248, 0.8);
    animation: 1s one_five_scale linear infinite;
}

/*@keyframes one_five_scale {*/
/*0%{*/
/*transform: scale(1);*/
/*color: #ffffff;*/
/*}*/
/*50%{*/
/*transform: scale(0.8);*/
/*color: red;*/
/*!*color: #72fdff;*!*/
/*!*text-shadow: -1px -1px rgba(248, 240, 34, 0.8), -2px -2px rgba(248, 240, 34, 0.8), -3px -3px rgba(248, 240, 34, 0.8), -4px -4px rgba(248, 240, 34, 0.8), -5px -5px rgba(197, 223, 248, 0.8);*!*/
/*}*/
/*100%{*/
/*transform: scale(1);*/
/*color: #ffffff;*/
/*}*/
/*}*/

.one_five ol li:nth-child(1):before,
.one_five ol li:nth-child(2):before,
.one_five ol li:nth-child(3):before,
.one_five ol li:nth-child(4):before,
.one_five ol li:nth-child(5):before {
    transition: all 1s;
    animation: 1s one_five_scale_before linear infinite;
    background: #e73b49;
}

@keyframes one_five_scale_before {
    0% {
        transform: scale(1);
        color: #ffffff;
    }
    50% {
        transform: scale(0.8);
        color: #72fdff;
    }
    100% {
        transform: scale(1);
        color: #ffffff;
    }
}

.leaderboard ol li:nth-child(1n) {
    background: #fa6855;
}

.leaderboard ol li:nth-child(1n)::after {
    background: #fa6855;
}

.leaderboard ol li:nth-child(1n) mark::before, .leaderboard ol li:nth-child(1n) mark::after {
    border-top: 6px solid #ba4741;
    bottom: -7px;
}

.leaderboard ol li:nth-child(2n) {
    background: #e0574f;
}

.leaderboard ol li:nth-child(2n)::after {
    background: #e0574f;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
}

.leaderboard ol li:nth-child(2n) mark::before, .leaderboard ol li:nth-child(2n) mark::after {
    border-top: 6px solid #ba4741;
    bottom: -7px;
}

.leaderboard ol li:nth-child(3n) {
    background: #d7514d;
}

.leaderboard ol li:nth-child(3n)::after {
    background: #d7514d;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
}

.leaderboard ol li:nth-child(3n) mark::before, .leaderboard ol li:nth-child(3n) mark::after {
    border-top: 2px solid #b0433f;
    bottom: -3px;
}

/*.leaderboard ol li:nth-child(4n) {*/
/*background: #cd4b4b;*/
/*}*/

/*.leaderboard ol li:nth-child(4n)::after {*/
/*background: #cd4b4b;*/
/*box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);*/
/*}*/

/*.leaderboard ol li:nth-child(4n) mark::before, .leaderboard ol li:nth-child(4n) mark::after {*/
/*top: -7px;*/
/*bottom: auto;*/
/*border-top: none;*/
/*border-bottom: 6px solid #a63d3d;*/
/*}*/

/*.leaderboard ol li:nth-child(5n) {*/
/*background: #c24448;*/
/*}*/

/*.leaderboard ol li:nth-child(5n)::after {*/
/*background: #c24448;*/
/*box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);*/
/*}*/

/*.leaderboard ol li:nth-child(5n) mark::before, .leaderboard ol li:nth-child(5n) mark::after {*/
/*top: -9px;*/
/*bottom: auto;*/
/*border-top: none;*/
/*border-bottom: 8px solid #993639;*/
/*}*/

/*.leaderboard ol li:nth-child(6) {*/
/*background: #c13e47;*/
/*}*/

/*.leaderboard ol li:nth-child(6)::after {*/
/*background: #c13e47;*/
/*box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);*/
/*}*/

/*.leaderboard ol li:nth-child(6) mark::before, .leaderboard ol li:nth-child(5) mark::after {*/
/*top: -9px;*/
/*bottom: auto;*/
/*border-top: none;*/
/*border-bottom: 8px solid #c13e47;*/
/*}*/

/*.leaderboard ol li:nth-child(7) {*/
/*background: #bb3f43;*/
/*}*/

/*.leaderboard ol li:nth-child(7)::after {*/
/*background: #bb3f43;*/
/*box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);*/
/*}*/

/*.leaderboard ol li:nth-child(7) mark::before, .leaderboard ol li:nth-child(5) mark::after {*/
/*top: -9px;*/
/*bottom: auto;*/
/*border-top: none;*/
/*border-bottom: 8px solid #bb3f43;*/
/*}*/

/*.leaderboard ol li:nth-child(8) {*/
/*background: #b53e42;*/
/*}*/

/*.leaderboard ol li:nth-child(8)::after {*/
/*background: #b53e42;*/
/*box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);*/
/*}*/

/*.leaderboard ol li:nth-child(8) mark::before, .leaderboard ol li:nth-child(5) mark::after {*/
/*top: -9px;*/
/*bottom: auto;*/
/*border-top: none;*/
/*border-bottom: 8px solid #b53e42;*/
/*}*/

/*.leaderboard ol li:nth-child(9) {*/
/*background: #af3c40;*/
/*}*/

/*.leaderboard ol li:nth-child(9)::after {*/
/*background: #af3c40;*/
/*box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);*/
/*}*/

/*.leaderboard ol li:nth-child(9) mark::before, .leaderboard ol li:nth-child(5) mark::after {*/
/*top: -9px;*/
/*bottom: auto;*/
/*border-top: none;*/
/*border-bottom: 8px solid #af3c40;*/
/*}*/

/*.leaderboard ol li:nth-child(10) {*/
/*background: #ab373b;*/
/*border-radius: 0 0 10px 10px;*/
/*}*/

/*.leaderboard ol li:nth-child(10)::after {*/
/*background: #ab373b;*/
/*box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);*/
/*border-radius: 0 0 10px 10px;*/
/*}*/

/*.leaderboard ol li:nth-child(10) mark::before, .leaderboard ol li:nth-child(5) mark::after {*/
/*top: -9px;*/
/*bottom: auto;*/
/*border-top: none;*/
/*border-bottom: 8px solid #ab373b;*/
/*}*/

.leaderboard ol li:hover {
    z-index: 2;
    overflow: visible;
}

.leaderboard ol li:hover div {
    z-index: 2;
    overflow: visible;
}

.leaderboard ol li:hover::after {
    opacity: 1;
    -webkit-transform: scaleX(1.06) scaleY(1.03);
    transform: scaleX(1.06) scaleY(1.03);
}

.leaderboard ol li:hover mark::before, .leaderboard ol li:hover mark::after {
    opacity: 1;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

/*------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@media screen and (max-width: 768px) {
    .leaderboard {
        width: 96%;
        top: 6%;
    }

    .leaderboard_2 {
        top: 110%;
        margin-bottom: 10%;
    }

    .leaderboard ol li div:first-child {
        width: 60%;
    }

    .leaderboard ol li div:last-child {
        width: 40%;
    }
}

/*动画背景*/
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.particule {
    position: absolute;
}

/*progress*/
.progress_box {
    width: 70%;
    border: 1px solid #ffffff;
    height: 3rem;
    display: none;
}

.progress_span {
    display: block;
    height: 100%;
    width: 10%;
    background: linear-gradient(to bottom, #d6ffe4, #3aff25);
}

.progress_text {
    text-align: center;
    font-size: 20px;
    margin-top: 1%;
}

/*立方体*/
.big_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.cube {
    position: relative;
    font-size: 80px;
    width: 200px;
    height: 200px;
    margin: 0px auto;
    transform-style: preserve-3d;
    transform-origin: center center 100px;
    transform: rotate3d(0, 0, 0, -30deg);
    /*transition:transform 1s linear;*/
    /*transform: rotateY(80deg);*/
}

.cube:nth-child(1n) div {
    background: url("../img/c5.png");
}

.cube:nth-child(2n) div {
    background: url("../img/c5.png");
}

.cube:nth-child(3n) div {
    background: url("../img/c5.png");
}

.cube:nth-child(4n) div {
    background: url("../img/c5.png");
}

.cube:nth-child(5n) div {
    background: url("../img/c5.png");
}

.cube > div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 8px solid #ffffff;
    color: white;
    text-align: center;
    line-height: 184px;
}

/*.cube:hover{*/
/*transform:rotateY(180deg);*/
/*}*/
.front {
    background: url("../img/c1.png");
    transform: translateZ(200px);
    transform-origin: top;
}

.top {
    background: url("../img/c1.png");
    transform: rotateX(90deg);
    transform-origin: top;
}

.right {
    background: url("../img/c1.png");
    transform: rotateY(90deg);
    transform-origin: right;
}

.left {
    background: url("../img/c1.png");
    transform: rotateY(-90deg);
    transform-origin: left;
}

.bottom {
    background: url("../img/c1.png");
    transform: rotateX(-90deg);
    transform-origin: bottom;
}

.back {
    background: url("../img/c1.png");
    transform: rotateY(180deg);
}