body {
    background: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.amount_box {
    display: none;
}

p {
    margin: 0;
    padding: 0;
}

#chat {
    width: 100%;
}

#chat .title {
    background: #f2f2f2;
    color: #000;
    padding: 3% 0;
    margin-bottom: 5%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1;
    width: 100%;
}

#chat li {
    list-style: none;
}

#chat .chatList {
    padding: 0 10px;
    padding-top: 20%;
}

#chat .chatContent {
    background: #ffffff;
    padding: 3% 3% 3% 0.3rem;
    border-radius: 5px;
    width: 100%;
    overflow-x: auto;
}

.chatContent img {
    width: 100%;
}

#chat .time {
    font-size: 12px;
    color: #ffffff;
    border-radius: 5px;
    padding: 1% 2%;
    background: #cac8c8;
}

.timeBox {
    padding: 5% 0;
}

#chat .chatItem {
    position: relative;
    margin-bottom: 5%;
}

#chat .photo {
    width: 2.5rem;
    height: 2.5rem;
    background: #204d74;
    display: inline-block;
    position: relative;
}

.photo:after {
    content: "";
    border: 5px solid #ffffff;
    position: absolute;
    right: -35%;
    top: 66%;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(135deg);
    border-radius: 2px;
}

#chat .chatInfo {
    max-width: 75%;
    padding-left: 2%;
}

#chat .name {
    color: #9e9e9e;
    font-size: 12px;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.zan_cai_box {
    margin-right: -5%;
}

.zan_cai_box .zan_img_box, .zan_cai_box .cai_img_box {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding: 0 3px;
}

.zan_img_box img, .cai_img_box img {
    width: 100%;
}

.infoBox {
    display: flex;
}

.text-center {
    text-align: center;
}

.photo img {
    width: 100%;
}

.accountNone {
    display: none !important;
}

.box {
    position: fixed;
    right: 2%;
    width: 3rem;
    height: 3rem;
    background: transparent;
    z-index: 10;
}

.img_box {
    width: 3rem;
    height: 3rem;
    position: absolute;
    z-index: 1;
    right: 0;
}

.img_box.clickActive {
    transform: rotate(45deg);
    transition: all .2s;
}

.more_box {
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
    top: 6%;
    background: gainsboro;
    height: 5rem;
    width: 3rem;
    text-align: center;
    padding-top: 3rem;
    border-radius: 2rem;
    display: none;
}

.more_box li {
    line-height: 2;
}

.more_box li a {
    color: #fe3e28;
}

#filter {
    border: 1px solid #333333;
}

.filter_title {
    padding: 2%;
    background: #fafafa;
    border-bottom: 1px solid #9d9d9d;
    position: relative;
    cursor: pointer;
    color: #9e9e9e;
}

p.filter_title:after {
    content: "";
    position: absolute;
    right: 3%;
    top: 28%;
    border: 2px solid #9e9e9e;
    width: 0.5rem;
    height: 0.5rem;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(135deg);
}

#filter:focus {
    outline: none;
}

.filter_box {
    background: rgba(0, 0, 0, 0.1);
    padding: 0 5% 5%;
    display: none;
}

.filter_box div {
    padding: 3% 0;
}

.search_btn {
    border: 1px solid #333333;
    background: transparent;
    border-radius: 35px;
    width: 100%;
    padding: 2% 0;
    outline: none;
    cursor: pointer;
}

#tellUserAccount td, #tellUserAccount th {
    line-height: 2;
    border-bottom: 1px solid #9e9e9e;
}

button.search_btn:hover {
    background: #ff001c;
    color: #fff;
    border: 1px solid #ffffff;
    transition: all 1s;
}

.search_input {
    width: 84%;
    outline: none;
    background: transparent;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 2%;
}

input.form-control.search_input:focus {
    border-color: #ff0b28;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.font-size-14 {
    font-size: 14px;
}

.backStatistics_box {
    position: fixed;
    right: -3%;
    bottom: 30%;
    background: rgba(0, 0, 0, 0.2);
    color: #ff0000d4;
    padding: 2% 5% 2% 3%;
    border-radius: 40px;
    font-size: 14px;
    z-index: 1;
}

.backStatistics_box.login_right_box {
    bottom: 40%;
}

.backStatistics {
    font-size: 14px;
    color: #ff0000d4;
}

/*alert modal*/
.c-float-popWrap.show {
    display: block;
}

.c-float-popWrap {
    width: 85%;
    z-index: 9999;
    position: fixed;
    border-radius: 3px;
    /* overflow: hidden; */
}

.weui_mask_transparent {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.c-float-popWrap .c-float-modePop {
    overflow: hidden;
    border-radius: 6px;
}

.c-float-modePop {
    text-align: center;
    background-color: #FAFAFC;
}

.c-float-popWrap .c-float-modePop .warnMsg {
    padding: 0.8em 0 0.8em;
    font-size: 15px;
    color: #333;
}

.c-float-popWrap.confirmMode .c-float-modePop .content, .c-float-popWrap.confirmMode .c-float-modePop .doBtn {
    display: block;
}

.c-float-popWrap .c-float-modePop .content {
    padding: 0 20px;
    font-size: 14px;
    color: #888;
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
}

.c-float-popWrap .c-float-modePop .content label {
    display: block;
}

.c-float-popWrap .c-float-modePop .doBtn {
    width: 100%;
    margin-top: 15px;
    position: relative;
}

.confirm_input {
    border: 1px solid #D5D5D6;
    padding: 6px;
    width: 80%;
    outline-color: #00b66c;
    border-radius: 5px;
    color: #333333;
}

.c-float-popWrap .c-float-modePop button.cancel:after {
    content: " ";
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #D5D5D6;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

.c-float-popWrap .c-float-modePop .doBtn:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D5D5D6;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.c-float-popWrap .c-float-modePop button.cancel {
    position: relative;
}

.c-float-popWrap .c-float-modePop button {
    background-color: #FAFAFC;
    width: 49%;
    height: 42px;
    line-height: 42px;
    color: #444;
    font-size: 17px;
    border: 0;
    padding: 0;
}

.c-float-popWrap .c-float-modePop button.ok {
    color: #0BB20C;
}

.c-float-modePop {
    text-align: center;
    background-color: #FAFAFC;
}

.c-float-modePop .doBtn {
    width: 100%;
    margin: 0 auto;
}

.confirmMode p {
    font-size: 12px;
}

.hiden {
    display: none;
}

/*alert tips*/
.web_toast {
    position: fixed;
    left: 35%;
    bottom: 45%;
    margin: 0 10px;
    z-index: 9999;
    display: none;
    padding: 10px;
    color: #fff;
    background: rgba(0, 0, 0, .7);
    font-size: 1.4rem;
    text-align: center;
    border-radius: 4px;
}

.cx_mask_transparent {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: rgba(255,255,255,.1); */
}

/*suc_zan*/
.suc_zan {
    position: fixed;
    z-index: 1;
    width: 100%;
    text-align: center;
    top: 30%;
    display: none;
}

/*top*/
#top {
    position: fixed;
    right: 2%;
    bottom: 5%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 100%;
    display: none;
}

/*bottom*/
#bottom {
    position: fixed;
    top: 8%;
    right: 2%;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
}

.chat_zan_btn, .chat_cai_btn {
    width: 1.5rem;
}

.chat_zan_btn img, .chat_cai_btn img {
    width: 100%;
    height: 100%;
}