body, html {
    background: #444444;
}

.login_title_row {
    background: #333333;
    color: #ffffff;
}

.login_title_box {
    padding: 3% 0;
}

.login_title_row h3 {
    margin: 0;
}

.form_box input {
    background: #565656;
    color: #555555 !important;
    padding: 0.5em !important;
    border: unset;
    height: 3em !important;
    margin-bottom: 1.5em;
    width: 100%;
}

.form_box input:focus {
    background: #ffffff !important;
    border: unset !important;
    outline: none;
}

.login_text {
    color: #eb602e;
}

.register_text{
    color: #ffffff;
}

.toggleBtnBox button{
    border: 1px solid #ff3f00;
    width: 49%;
    height: 3rem;
    background: transparent;
    color: #fff;
    outline: none;
}

.toggleBtnBox button.active{
    color: #fff;
    background: #ff3f00;
    border: unset;
}

.login_btn {
    width: 100%;
    background: #fa5213;
    color: #fff;
    border: unset;
    height: 3rem;
}

.form_container{
    margin-top: 25%;
}

.intl-tel-input{
    width: 100%;
}