body, html {
    /*background: #444444;*/
    background-image: linear-gradient(to bottom, #020e28 0%, #07234e 10%, #020e28 100%);
}

.login_title_row {
    /*background: #333333;*/
    background-image: linear-gradient(to right, #041636, #0b2758);
    color: #ffffff;
}

.login_title_box {
    padding: 3% 0;
}

.login_title_row h3 {
    margin: 0;
}
.login_title_box img{
    width: 35%;
}

.form_box input {
    background: transparent;
    color: #333333 !important;
    padding: 0.5em !important;
    border: unset;
    height: 3em !important;
    margin-bottom: 3em;
    width: 100%;
    border-bottom: 1px solid #82ca9c82;
}

.form_box input:focus {
    background: transparent;
    border: unset !important;
    outline: none;
    border-bottom: 1px solid #82ca9c!important;
    box-shadow: unset;
}

.login_text {
    color: #82ca9c;
}

.register_text {
    color: #ffffff;
}

.toggleBtnBox button {
    border: 1px solid #82ca9c;
    width: 49%;
    height: 4rem;
    background: transparent;
    color: #82ca9c;
    outline: none;
}

.toggleBtnBox button.active {
    color: #fff;
    background: #82ca9c;
    border: unset;
}

.login_btn {
    width: 100%;
    background: transparent;
    color: #82ca9c;
    border: 1px solid #82ca9c;
    height: 4rem;
}

.form_container {
    margin-top: 25%;
}

.intl-tel-input {
    width: 100%;
    margin-bottom: 3rem;
    color: #ffffff;
    padding-left: 23%;
}

#phone_imgCode {
    margin-bottom: 3rem;
    margin-left: 5px;
}

.amount_box, .emailLoginBtn, #email {
    display: none;
}

.back_statistics{
    display: inline-block;
    color: #82ca9c;
    margin-top: 5%;
    border-bottom: 1px solid;
}