.group_set_item {
    line-height: 45px;
    border-bottom: 1px solid #9e9e9e;
    padding: 0 15px;
}

.group_set_item:hover {
    background: beige;
}

.group_set_item p {
    margin: 0 !important;
}

.qr_img_box #file {
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0;
    z-index: 123;
}