.group_set_item {
    line-height: 45px;
    border-bottom: 1px solid #9e9e9e;
    padding: 0 15px;
}

.group_set_item:hover {
    background: beige;
}

.group_set_item p {
    margin: 0 !important;
}

.upload_qr_box {
    width: 30%;
    position: relative;
}

.upload_qr_box img {
    width: 100%;
}

.qr_img_box #file {
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0;
    z-index: 123;
}

.news_chat_time_box {
    margin-top: 10px;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 5px;
}

.news_chat_time_box ul {
    margin: 10px 0;
}

.news_chat_time_box li {
    list-style: none;
    border: 1px solid #009988;
    padding: 5px 8px;
    border-radius: 2px;
    cursor: pointer;
    line-height: normal;
}

.news_chat_time_box li:hover {
    background: #009988;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .upload_qr_box {
        width: 100%;
    }
}

.qr_img_box .mask {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.qr_img_box:hover .mask {
    display: flex;
    cursor: pointer;
}