body {
    background: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar {
    margin-bottom: 0 !important;
}

.navbar-brand {
    padding: 8px !important;
}

nav ul a {
    color: #ffffff;
}

.navbar-toggle {
    background: transparent;
    outline: none;
}

.navbar-toggle .icon-bar {
    background: #ffffff;
}

.phone_show {
    display: none;
}

.phone_none {
    display: block;
}

.phone_show ul {
    text-align: right;
    margin-bottom: 0;
}

.phone_show ul li {
    display: inline-block;
}

.amount_li {
    padding: 15px 0;
}

.nav_left a {
    width: 100%;
    display: flex;
    display: -moz-flex;
    display: -o-flex;
    align-items: center;
}

.nav_left img {
    width: 80%;
}

.usLogin:hover, .usRegister:hover, .usAccount:hover {
    color: #1E9FFF;
}

/*iframe*/
.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    /* display: none; */
    left: 0;
    top: 0;
    background: #000000;
    z-index: -1;
}

.glory_box {
    position: absolute;
    width: 100%;
    height: 100%;
    /*text-align: center;*/
}

.table {
    width: 100%;
}

.table a {
    color: #ffffff;
    text-decoration: none;
}

.table th {
    border-bottom: 1px solid #ffffff;
    /*width: 25%;*/
}

.table td {
    border-bottom: 1px solid #333333;
}

/*th, td {*/
/*line-height: 3rem;*/
/*font-size: 1.1rem;*/
/*}*/

.table tr:hover td {
    border-bottom: 1px solid #ffffff;
    transition: all .3s;
    animation: 1s td_line_move linear infinite;
}

@keyframes td_line_move {
    0% {
        border-bottom: 1px solid #1efff8;
        /*text-shadow: 2px 2px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8);*/
    }
    50% {
        border-bottom: 1px solid #9ef8ff;
        /*text-shadow: 2px 2px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8);*/
    }
    100% {
        border-bottom: 1px solid #fbf6ff;
        /*text-shadow: 2px 2px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8);*/
    }
}

td > svg {
    font-size: 3rem;
}

.btn_box {
    padding-top: 2%;
    text-align: center;
}

button {
    background: transparent;
    color: #fff;
    /*padding: 1% 5%;*/
    cursor: pointer;
    outline: none;
}

button[disabled] {
    border: 1px solid #9e9e9e;
    background: transparent;
    color: #9e9e9e;
}

button[disabled]:hover {
    border: 1px solid #9e9e9e;
    background: transparent;
    color: #9e9e9e;
    box-shadow: unset;
    cursor: unset;
}

button:hover {
    background: #ffffff;
    color: #000000;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3);
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.message_icon {
    cursor: pointer;
}

.zan_icon, .cai_icon {
    cursor: pointer;
    font-size: 2rem;
}

.zan_num, .cai_num {
    font-size: 1rem;
}

.none {
    display: none;
}

li.none {
    display: none !important;
}

.index_search_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select_box {
    float: left;
}

.table-responsive {
    border: unset;
}

.table > thead > tr > th {
    border-bottom: unset;
}

#title {
    background: transparent;
    font-size: 1rem;
    outline: none;
    color: #ffffff;
}

#title option {
    background: black;
}

.look_chat_recode_btn {
    color: #9e9e9e;
    font-size: 14px;
}

.look_chat_recode_btn:hover {
    color: #ffffff;
}

.search_input {
    background: transparent;
    outline: none;
    border: 1px solid #9e9e9e;
    box-shadow: none;
    height: 2.5rem;
    border-radius: 2rem;
    width: 20%;
    caret-color: #ffffff;
    padding: 10px;
    color: #ffffff;
}

.icon_grade {
    font-size: 1.8rem;
    vertical-align: middle;
}

/*customize-modal*/
#customize_modal {
    position: fixed;
    top: 35%;
    left: 25%;
    width: 50%;
    z-index: 999;
    color: #000000;
    display: none;
}

.customize_modal_mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.customize_modal_content_head h3 {
    border-bottom: 1px solid #eeeeee;
    margin: 0;
    text-align: center;
    font-size: 2rem;
}

.customize_modal_content {
    background: #ffffff;
    padding: 5%;
    border-radius: 10px;
}

.customize_modal_content_body {
    margin-top: 5%;
}

.customize_modal_content_body p {
    margin: 0;
    font-size: 12px;
    color: #9e9e9e;
}

.customize_modal_content_body input {
    height: 3rem;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    outline: none;
}

.customize_modal_content_body input:focus {
    border: 2px solid #00c566;
}

.customize_modal_content_footer {
    margin-top: 5%;
}

.customize_modal_content_footer button {
    width: 49%;
    height: 2.5rem;
    color: #ffffff;
    border: unset;
}

.customize_modal_content_footer .customize_modal_cancel_btn {
    background: #c50505;
}

.customize_modal_content_footer .customize_modal_cancel_btn:hover {
    background: #ad0404;
}

.customize_modal_content_footer .customize_modal_confirm_btn {
    background: #18c16f;
}

.customize_modal_content_footer .customize_modal_confirm_btn:hover {
    background: #13a35d;
}

.customize_modal_content_body .black {
    color: #000000;
}

.nick_name_search_icon {
    position: relative;
    text-align: right;
    width: 100%;
}

.nick_name_search {
    font-size: 2rem;
    position: absolute;
    right: 1%;
    top: 10%;
}

@media only screen and (max-width: 768px) {
    nav {
        padding: 8px 15px;
    }

    .nav_left a {
        width: 70%;
        display: flex;
        display: -moz-flex;
        display: -o-flex;
        align-items: center;
    }

    .nav_left img {
        width: 100%;
    }

    #customize_modal {
        width: 98%;
        left: 1%;
    }

    .btn_box {
        padding: 5%;
    }

    .zan_icon, .cai_icon {
        font-size: 2rem;
    }

    th {
        font-size: 1.5rem;
        font-weight: 400;
        width: unset;
    }

    th.name_th {
        width: 30%
    }

    th.chat_th {
        width: 20%;
    }

    td {
        font-size: 14px;
        line-height: 1rem;
    }

    button {
        /*padding: 3% 6%;*/
    }

    .table_top {
        padding-left: 15px;
    }

    .search_input {
        width: 100%;
    }

    .nick_name_search {
        font-size: 2rem;
        top: 70%;
        left: 90%;
        position: absolute;
    }

    .index_search_box {
        display: block;
    }

    .nick_name_search_icon {
        position: unset;
        width: 100%;
    }

    .close_page:hover {
        cursor: pointer;
    }

    .message_icon {
        font-size: 2rem;
    }

    .weChatName {
        text-align: left;
    }

    #title {
        width: 80%;
    }

    #title, .search_input {
        height: 3.5rem;
    }

    .select_box {
        text-align: left;
        width: 100%;
        margin-bottom: 5%;
    }

    .title_h1 {
        font-size: 2rem;
        display: inline-block;
        width: 50%;
        margin-top: 3%;
    }

    .title_pm {
        display: inline-block;
        width: 40%;
    }

    .navbar-header {
        display: flex;
        align-items: center;
    }

    .phone_show {
        display: block !important;
        width: 100%;
    }

    .phone_none {
        display: none !important;
    }
}

/*page*/
.ui-pagination-page-item {
    display: inline-block;
    border: unset !important;
    width: 3rem;
    height: 3rem;
    padding: 0 !important;
    line-height: 3rem;
}

p {
    margin: 0;
}

.table_top {
    padding-right: 15px;
    padding-left: 15px;
}

.top .pm_icon {
    font-size: 3rem;
}

.top .top_start, .top .top_mid, .top .top_end {
    font-size: 2.5rem;
}

.top .top_start {
    margin-left: 0.5%;
}