* {
    padding: 0;
    margin: 0;
}

body {
    background: #F6F8F9;
}

.position_relative {
    position: relative;
}

#desktop_panel {
    padding: 24px 40px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
}

.desktop_panel_hd {
    padding: 16px 0;
}

.desktop_panel_bd {
    padding: 16px 0;
}

.desktop_panel_title {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.desktop_panel_inner_title {
    font-weight: 400;
    color: #353535;
    font-size: 14px;
}

.desktop_panel_fa_icon {
    font-size: 2rem;
}

.desktop_panel_gory {
    color: #9a9a9a;
}

.desktop_panel_inner_link {
    font-size: 42px;
    padding-top: 16px;
}

.desktop_panel_inner_top {
    padding-top: 16px;
}

/*table*/
table .option_a {
    margin: 0 5px;
}

.dropdown-menu > li > a {
    line-height: 2.5;
}

/*margin*/
.margin-left-1 {
    margin-left: 1%;
}

.margin-top-2 {
    margin-top: 2%;
}

.margin-bottom-2 {
    margin-bottom: 2%;
}

.margin-bottom-5 {
    margin-bottom: 5%;
}

.margin-left-2 {
    margin-left: 2%;
}

.margin-right-2 {
    margin-right: 2%;
}

.margin-left-5 {
    margin-left: 5%;
}

.margin-top-2 {
    margin-top: 2%;
}

.margin-bottom-10 {
    margin-bottom: 10%;
}

/*padding*/
.padding-1 {
    padding: 1%;
}

.padding-left-2 {
    padding-left: 2%;
}

#pagination {
    text-align: right;
}

/*font-weight*/
.font-bold {
    font-weight: bold;
}

/*btn*/
.btn {
    cursor: pointer;
    outline: none;
}

.btn-success {
    background: #009988 !important;
    border-color: #009988 !important;
}

.btn-success:hover {
    background: #018273 !important;
    border-color: #018273 !important;
}

.ui-pagination-container .ui-pagination-page-item.active {
    background: #009988;
    border-color: #009988;
}

.ui-pagination-container .ui-pagination-page-item:hover {
    border-color: #009988;
    color: #009988;
}

.page-item.active .page-link {
    background-color: #009688;
    border-color: #009688;
}

/*flex*/
.flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}

.flex.center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-center {
    justify-content: center;
}

.inline-block {
    display: inline-block;
}

.gray {
    color: gray;
}

/*switch*/
.switch {
    width: 57px;
    height: 28px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
    margin-left: 2% !important;
    margin-right: 2% !important;
    cursor: pointer;
}

.switch:before {
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.switch.active {
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.switch.active:before {
    left: 30px;
    transition: left 0.3s;
}

.change_type_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input[type=checkbox] {
    margin: unset;
}

.upload_file_box {
    position: relative;
    text-align: center;
}

#file {
    width: 100%;
    position: absolute;
    height: 2.5rem;
    opacity: 0;
}

.upload-btn {
    cursor: pointer;
}

textarea#content {
    width: 100%;
}

table {
    width: 100% !important;
}

#upload_img {
    width: 100%;
}

.checkbox_input_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.day_label {
    padding-top: unset !important;
}

.width-33 {
    width: 33%;
}

table td {
    text-align: center;
    vertical-align: middle !important;
}

table .th_top {
    border-top: 1px solid #dddddd !important;
}

.switch:focus {
    outline: none !important;
}

.treeview-menu li {
    line-height: 2.5rem;
}

/*chat record*/
.weChatBtn {
    background: transparent !important;
    color: #000000 !important;
}

.weChatBtn.activeWeChatBtn {
    background: #138496 !important;
    color: #ffffff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
}

.success_box {
    display: none;
}

/*qr_img*/
#qr_img {
    margin: auto;
    width: 20%;
}

/*none*/
td.none {
    display: none !important;
}

.none {
    display: none;
}

.table_border_none th, .table_border_none td {
    border-left: none !important;
    border-right: none !important;
}

.dropdown i {
    font-size: 2rem;
}

.task_img {
    width: 100%;
}

/*loading*/
.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333333;
    top: 0;
    left: 0;
    z-index: 1040;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading img {
    width: 5rem;
    height: 5rem;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}