input[type="radio"], label {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.list-group-item {
    line-height: 3rem;
}

.list_group {
    height: 40rem;
    overflow-y: auto;
}

.list_group label {
    font-size: 1.5rem;
}