.register_row{
    padding-left: 15px;
    padding-right: 15px;
}
.custom_card {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: all 0.3s;
}
.custom_card i{
    font-size: 4rem;
    color: #fff;
}
.custom_card.to_user {
    background: #fbad4c;
}

.custom_card.to_ba {
    background: #59d05d;
}

.custom_card.to_ca {
    background: #ff646d;
}

.custom_card:hover {
    background: #c9d9f1;
}

.custom_card h2 {
    margin-bottom: 10px;
    color: #ffffff;
}

.custom_card h3 {
    color: #ffffff;
}