*, h1 {
    margin: 0;
    padding: 0;
}

body, html {
    position: relative;
    background: #333333;
}

.login_box {
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 5% 5%;
    border-radius: 10px;
    height: 35rem;
    margin-top: 25%;
    color: #ffffff;
}

.login_box input {
    background: transparent;
    border: unset;
    border-bottom: 1px solid #9e9e9e9e;
    width: 70%;
    outline: none;
    padding: 5px;
}

.login_box input:focus {
    border-bottom: 1px solid #ffffff;
}

#login_btn {
    background: transparent;
    width: 65%;
    font-size: 2rem;
    padding: 1%;
    border: 1px solid #9e9e9e;
    outline: none;
    color: #9e9e9e;
}

#login_btn:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}