.account_num {
    height: 6rem;
    border-radius: 10px;
    border: 1px solid #69cc99;
    color: #000000;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    margin-bottom: 1rem;
    position: relative;
}

.help_img_box {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.help_img_box img {
    width: 100%;
}

.account_num_last {
    margin-bottom: 0 !important;
}

input[name="weChatGroup"] {
    margin: 0;
}

.glory_level {
    background: #00d290;
    color: #fff;
    padding: 1% 15%;
    border-radius: 5px;
}

.account_num > div {
    margin: 0 auto;
    text-align: center;
}

.account_num > div.info_first_box {
    text-align: left;
}

.account_num > div > p {
    font-size: 14px;
}

.account_num .amount_num {
    color: #37cf95;
    font-size: 1.2rem !important;
}

p {
    font-size: 14px !important;
    font-weight: 400;
}

.personInfo {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 4%;
    margin-left: 0;
}

.base_info li {
    line-height: 35px;
}

.changePass {
    margin-left: 15px;
}

.two-btn-row {
    padding: 15px 0;
}

.weChatBindBtn {
    color: #2a7abc;
}

i.iconfont.icon-zhanghu {
    font-size: 3rem;
}

i.iconfont.icon-anquanshezhi, i.iconfont.icon-yinhangqia, i.iconfont.icon-alipay, i.iconfont.icon-weixin {
    font-size: 1.5rem;
}

/*payMent*/

.paymentBox .form-group > lable {
    width: 35%;
}

.paymentBox .bank-top {
    margin-bottom: 2rem;
}

.paymentBox .btn-bank {
    text-align: right;
}

.paymentBox, .passwordList {
    border-radius: 8px;
    padding: 2rem 1rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.bindBank, .bindAlipay, .bindWechat {
    display: none;
    margin-bottom: 2rem;
}

.payNote {
    color: #9e9e9e;
}

.paymentBox .bank-top > span:first-child {
    width: 10%;
}

.level progress {
    margin-right: 5%
}

.level .levelText {
    font-weight: bold;
}

.progress {
    width: 13rem;
    height: 15px;
    margin-bottom: 0;
}

.btn.modifyFunPass {
    display: none;
}

/*历史记录*/
.withdraw-history {
    display: none;
}

/*交易状态*/
.tradingTab {
    padding: 1% 0;
    font-size: 18px;
}

.tradingItem {
    cursor: pointer;
}

.tradingItem.active {
    font-weight: 400;
    border-bottom: 2px solid #82ca9c;
}

.bankItem {
    background: #eeeeee;
    padding: 1%;
}

/*group*/
#intoGroupModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 59, 255, 0.21);
    display: none;
}

#intoGroupModal .group_content {
    width: 50%;
    background: #ffffff;
    margin: 20% auto;
    border-radius: 10px;
    padding: 4% 5%;
}

.fixed-table-pagination .pagination-detail {
    display: none !important;
}

.table_thead_tr th {
    width: 33%;
}