//@main-bg:        #1BBC9B;
@main-bg: #FFFFFF;
@nav-color: #1a1d2a;
@nav-bg-active: #333;
@screen-bg: #D2527F;
@duration: 300ms;
@ease: ease-in-out;
@_100: 100%;
@shadow: 0 2px 15px rgba(0, 0, 0, .1);
@border: 1px solid hsla(0, 0%, 85%, .5);
@default_even_px: 2px;
@default_odd_px: 3px;
@height_50: @default_even_px*25;
@default_color: #333333;
@_absolute: absolute;
@_relative: relative;
@_fixed: fixed;
@btn_color: #638bd4;
@btn_hover_color: #3d5f98;
body {
  background: #f2f3f8;
  font-family: "Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif";
  min-height: 100vh;
  border: unset;
  border-radius: unset;
  position: @_relative;
  padding-top: 64px;
}


*, p {
  margin: 0;
  padding: 0;
}

.input-group-addon {
  &:extend(.btn-success);
  color: @main-bg;
}

.btn_color {
  background-color: @btn_hover_color;
  border-color: @btn_hover_color;
}

.btn-success {
  background-color: @btn_color;
  border-color: @btn_color;

  &:hover {
    &:extend(.btn_color);
  }

  &:active {
    &:extend(.btn_color);
  }

  &:focus {
    &:extend(.btn_color);
  }
}

.btn-success.active {
  &:extend(.btn_color);
}

.btn-success[disabled] {
  &:extend(.btn_color);
  color: @main-bg;
}

a {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
    cursor: pointer;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.color(@_color) {
  @color: @_color;
}

.color_red {
  .color(red);
  color: @color;
}

.color_green {
  .color(green);
  color: @color;
}

.white_bg {
  background: @main-bg;
}

.width-100 {
  width: @_100;
}

.width-50 {
  width: @_100 / 2;
}

.intl-tel-input {
  &:extend(.width-100);
}

/*loading*/
.loading {
  position: @_fixed;
  width: @_100;
  height: @_100;
  background: #333333;
  top: 0;
  left: 0;
  z-index: 1040;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading img {
  width: 5rem;
  height: 5rem;
}

.pcTitle {
  background: @main-bg;
  padding: @default_even_px*10;
  font-weight: 400;
}

//导航
.navbar-default {
  position: fixed;
  z-index: 1000;
  background: @nav-color;
  width: @_100;
  border: unset;
  border-radius: unset;
  top: 0;
  left: 0;

  .nav_a {
    height: 64px !important;
    line-height: 64px !important;
    padding: 0 12px !important;
    color: #ffffff !important;
    background: transparent!important;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    &:extend(a);

    &:hover {
      background: unset;
    }
  }

  .a_link {
    color: rgb(99, 139, 212);
  }

  .dropdown-menu {
    //padding-left: @default_odd_px*10;
    //cursor: pointer;

    li {
      line-height: @default_even_px*13;
      cursor: pointer;
      padding: @default_even_px + @default_odd_px;

      &:hover {
        color: #1333cc;
        background: #f5f5f5;
      }
    }
  }

  .navbar-brand > img {
    width: 60%;
    display: inline-block;
  }
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background: unset !important;
  outline: unset !important;
}

.breadcrumb {
  background: #ffffff;
  margin-top: @default_even_px*10;
}

//table
td, th {
  height: @height_50 - 10;
  line-height: @height_50 - 10 !important;

}

.table_bg {
  background: #ffffff;
  border-radius: @default_odd_px+@default_even_px;
  padding: @default_even_px*10 @default_even_px*10 @default_odd_px*10 @default_even_px*10;
}

//list_box
.list_box {
  width: @_100;
  border-radius: @default_odd_px+@default_even_px;
  margin-bottom: @default_even_px * 25;
  //box-shadow: @shadow;
  background: @main-bg;

  .list_box_content {
    .list_box_item {
      padding: 15px;
      height: @height_50 + 10;
      line-height: @height_50 + 10;
      border-bottom: @border;
      transition: all 0.3s;
      z-index: 10;

      &:hover {
        background: #0a0a0a;
        color: @main-bg;
        cursor: pointer;
      }
    }
  }
}

//card
.card {
  width: @_100;
  border-radius: @default_odd_px+@default_even_px;
  margin-bottom: @default_even_px * 25;
  //box-shadow: @shadow;
  background: @main-bg;

  .title {
    padding: @default_even_px*10;
    border-bottom: @default_odd_px/3 solid #d9d9d9;
  }

  .remark {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    padding-right: 20px;
  }

  .content {
    padding: 15px 20px;

    .item {
      display: flex;
      align-items: center;
      height: @height_50;
      line-height: @height_50;

      &:last-child {
        .item_content {
          border-bottom: unset;
        }
      }

      .icon_box {
        align-self: flex-start;
        width: 30px;

        i {
          font-size: 26px;
        }
      }

      .item_content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid hsla(0, 0%, 85%, .5);

        .w-180 {
          width: 180px;
        }

        .w-50 {
          width: 50%;
        }
      }
    }
  }
}

.msg {
  //padding-top: 64px;

  .msg-col {
    background: #fbf8e3;
    cursor: pointer;
    height: @height_50;
    line-height: @height_50;
    padding: 0 @default_odd_px * 5;
  }

  .msg-content p {
    line-height: @default_odd_px*10;
  }
}

//margin
.margin-top-50 {
  margin-top: @height_50;
}

.margin-top-10 {
  margin-top: @default_even_px * 5;
}

.margin-left-5 {
  margin-left: @default_even_px + @default_odd_px;
}

.margin-right-5 {
  margin-right: @default_even_px + @default_odd_px;
}

.margin-left-10 {
  margin-left: @default_even_px * 5;
}

.margin_top_bottom_10 {
  margin: @default_even_px * 5 0;
}

.margin-bottom-10 {
  margin-bottom: @default_even_px * 5;
}

.margin-bottom-26{
  margin-bottom: @default_even_px * 13;
}

.margin-bottom-50 {
  margin-bottom: @default_even_px * 25;
}

//padding
.padding-top-bottom-100 {
  padding: 100px 0;
}

.padding-left-20{
  padding-left: @default_even_px * 10!important;
}

.padding-right-20{
  padding-right: @default_even_px * 10!important;
}

.footer_box {
  margin-top: @height_50;
  height: @default_odd_px*100+5;
  @media only screen and (max-width:768px) {
    min-height: @default_even_px * 228;
  }
}

/*customize-modal*/
.customize_modal {
  position: fixed;
  top: 30%;
  left: 25%;
  display: block;
  width: 50%;
  z-index: 999;
}

.customize_modal.none {
  display: none !important;
}

.customize_modal_mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.customize_modal_content_head {
  position: @_relative;
}

.customize_modal .closeBtn {
  position: @_absolute;
  top: -40px;
  right: 0;
  cursor: pointer;
}


.customize_modal_content_head h3 {
  border-bottom: 1px solid #eeeeee;
}

.customize_modal_content {
  background: #ffffff;
  padding: 5%;
  border-radius: 10px;
}

.customize_modal_content_body {
  /*height: 3rem;*/
  height: auto;
}

.customize_modal_content_footer button {
  width: 49%;
  height: 3.5rem;
}

/*switch*/
.switch {
  width: 57px;
  height: 28px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
  margin-left: 2% !important;
  margin-right: 2% !important;
  cursor: pointer;
}

.switch:before {
  content: '';
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.switch.active {
  border-color: #64bd63;
  box-shadow: #64bd63 0 0 0 16px inset;
  background-color: #64bd63;
  transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
  transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.switch.active:before {
  left: 26px;
  transition: left 0.3s;
}

.scrollup {
  position: @_fixed;
  right: @height_50;
  bottom: @height_50;
  height: @default_odd_px*10;
  @height: @default_odd_px*10;
  width: @height;
  line-height: @height;
  border-radius: @height;
  text-align: center;

  &:hover {
    background: #5a8ad9;

    a {
      color: #FFF;
      &:extend(a);
    }
  }
}

.china {
  background: url("../../assets/img/language.png");

}

@media only screen and (max-width: 768px) {
  .customize_modal {
    left: 4%;
    width: 92%;
  }

  .w-180 {
    width: unset !important;
  }

  .w-50 {
    &:extend(.w-180);
  }

  .phone_none {
    display: none !important;
  }

  .customize_modal .closeBtn {
    top: -25%;
  }
}