//@main-bg:        #1BBC9B;
@main-bg: #FFFFFF;
@nav-color: #1a1d2a;
@nav-bg-active: #333;
@screen-bg: #D2527F;
@duration: 300ms;
@ease: ease-in-out;
@_100: 100%;
@shadow: 0 2px 15px rgba(0, 0, 0, .1);
@default_px: 5px;
@default_color: #333333;
body {
  background: @main-bg;
  font-family: "Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif";
  min-height: 100vh;
  border: unset;
  border-radius: unset;
}

* {
  margin: 0;
  padding: 0;
}

//导航
.navbar-default {
  position: fixed;
  z-index: 1000;
  background: @nav-color;
  width: @_100;
  border: unset;
  border-radius: unset;
  a {
    height: 64px !important;
    line-height: 64px !important;
    padding: 0 12px !important;
    color: #ffffff !important;
  }
  .navbar-brand > img {
    width: 60%;
    display: inline-block;
  }
}

.card {
  width: @_100;
  border-radius: @default_px;
  margin-bottom: @default_px * 10;
  box-shadow: @shadow;
  .title {
    padding: @default_px*4 0;
    margin-left: @default_px*6+2;
    border-bottom: @default_px/@default_px solid #d9d9d9;
    .remark {
      color: #999;
      font-size: 14px;
      font-weight: 400;
      padding-right: 20px;
    }
  }
  .content {
    padding: 15px 32px 16px;
  }
}

.flex {
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}

.flex.align-itmes-center {
  align-items: center;
}

.flex.justify-content-space-center {
  justify-content: center;
}

.flex.justify-content-space-between {
  justify-content: space-between;
}