body, html {
  background: hsla(0, 0%, 85%, .3);
  height: 100%;
}

.footer {
  padding: 40px 0;
  margin-bottom: 50px;
  .logo_img {
    width: 16%;
  }
  .footer_text {
    margin: 16px 0;
  }
  i {
    font-size: 26px;
  }
  .footer_title {
    margin-bottom: 16px;
    color: #999999;
  }
}

.footer_bottom {
  padding-top: 32px;
  margin-top: 32px;
  border-top: 1px solid #d9d9d9;
}

a {
  text-decoration: none;
}

ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  line-height: 26px;
}