body, html {
  background: hsla(0, 0%, 85%, .3);
  height: 100%;
}

.footer {
  padding: 40px 0;
  .logo_img {
    width: 16%;
  }
  .footer_title {
    margin: 16px 0;
  }
  i {
    font-size: 26px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}