@import "common_user";

.register_box {
  margin: @default_even_px * 50 0;
  padding: @default_odd_px * 5;
  background: #ffffff;
  border-radius: @default_even_px * 10;
}

.alert-tips {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}