.edit_group_name {
    margin: 0 5px;
}

.qr_code_address {
    width: 100%;
}

.qr_img_box {
    position: relative;
}

.qr_img_box .mask {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.qr_img_box:hover .mask {
    display: flex;
    cursor: pointer;
}

.qr_img_box #file {
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0;
    z-index: 123;
}

.news_chat_time_box {
    margin-top: 10px;
}

.news_chat_time_box ul {
    margin-top: 10px;
}

.news_chat_time_box li {
    list-style: none;
}